<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='us.css')}}"/>
</head>
<body>
    <div class="card">
        <div class="photo"><img src="../static/gou.gif"></div>
        <h1>Zesen</h1>
        <h2></h2>
        <p>Email:zesenche@buffalo.edu</p>
        <a href="#">More</a>
    </div>


    <div class="card">
        <div class="photo"><img src="../static/IMG-1181.GIF"></div>
        <h1>Lin</h1>
        <h2></h2>
        <p>Email:lchen78@buffalo.edu</p>
        <a href="#">More</a>
    </div>


    <div class="card">
        <div class="photo"><img src="../static/IMG-8714.GIF"></div>
        <h1>Weida</h1>
        <h2></h2>
        <p>Email:weidajia@buffalo.edu</p>
        <a href="#">More</a>
    </div>

    <div class="card">
        <div class="photo"><img src="../static/mao.gif"></div>
        <h1>Yajing</h1>
        <h2></h2>
        <p>Email: yajinghu@buffalo.edu</p>
        <a href="#">More</a>
    </div>

    <div class="card">
        <div class="photo"><img src="../static/unnamed.gif"></div>
        <h1>Ryan</h1>
        <h2></h2>
        <p>Email:rlin27@buffalo.edu</p>
        <a href="#">More</a>
    </div>



</body>

</html>