<html>
    <head>
        <title>CSE312 Sample Front End</title>
    </head>

    <body>
        <label for="chat-comment">Chat: </label>
        <input id="chat-comment" type="text" name="comment">

        <button onclick="sendMessage()">Send</button>


        <script src="{{url_for('static', filename='function.js')}}"></script>
        <div id="chat"></div>
            <br/>
            <button onclick="startVideo()">Start My Video</button>
            <br/>
            <button onclick="connectWebRTC()">Start Video Chat</button>
            <br/>
    
    
            <video id="myVideo" autoplay muted></video>
            <br/>
            <video id="otherVideo" autoplay></video>
    
            <div id="paragraph">
        </div>
    </body>
</html>
