<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="chatborder.css"/>
</head>
<body>
    <div class="talk_con">
        <div class="talk_show" id="words">
            <div class="atalk"><span id="asay">A说：吃饭了吗？</span></div>
            <div class="btalk"><span id="bsay">B说：还没呢，你呢？</span></div>
        </div>
        <div class="talk_input">
            <select class="whotalk" id="who">
                <option value="0">Private</option> # aaaaaaa
                <option value="1">All users</option>
            </select>
            <input type="text" class="talk_word" id="talkwords">
            <input type="button" value="send" class="talk_sub" id="talksub">
        </div>
    </div>
</body>

</html>