.talk_con{
            width:600px;
            height:500px;
            border:1px solid #666;
            margin:50px auto 0;
            background:#f9f9f9;
        }

.talk_input{
            width:580px;
            margin:10px auto 0;
        }

.talk_show{
            width:580px;
            height:420px;
            border:1px solid #666;
            background:#fff;
            margin:10px auto 0;
            overflow:auto;
        }

.metalk{
            margin:10px;
            text-align:right;
        }

.metalk span{
            display:inline-block;
            background:#0181cc;
            border-radius:10px;
            color:#fff;
            padding:5px 10px;
        }

.elsetalk{
            margin:10px;
            text-align:right;
        }

.elsetalk span{
            display:inline-block;
            background: #4801ef;
            border-radius:10px;
            color:#fff;
            padding:5px 10px;
        }


