<html>
    <head>
        <title>CSE312 Sample Front End</title>
    </head>
    <body>
            <form method="post" enctype="multipart/form-data">

                <label for="form-oldName"> Username: </label>
                <input id="form-oldName" type="text" name="username">

                <label for="form-oldComment"> Password: </label>
                <input id="form-oldComment" type="text" name="password">

                <input type="submit" value="Login">
            </form>
            <p>{{failed}}</p>
    </body>
</html>
