<html>
    <head>
        <title>CSE312 Sample Front End</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
            <form method="post" enctype="multipart/form-data">
                <br>
                <br>
                <br>
                <label for="form-oldName"> username: </label>
                <input id="form-oldName" type="text" name="username">

                <label for="form-oldComment"> Password: </label>
                <input id="form-oldComment" type="password" name="password">
                <input type="submit" value="Login">
            </form>

            <form method="post" enctype="multipart/form-data">
                <label for="form-name"> Username: </label>
                <input id="form-name" type="text" name="NewUsername">

                <label for="form-comment"> Password: </label>
                <input id="form-comment" type="password" name="NewPassword">

                <input type="submit" value="Register">
            </form>
            <p>{{failed}}</p>
            <p>{{successfully}}</p>

    </body>
</html>