<html>
    <head>
        <title>User Profile</title>
        <link rel="shortcut icon" href="{{url_for('static',filename='img/favicon.ico')}}" type="image/x-icon"/>
    </head>
    <body>
        <form action='/image-upload',method="post">
            <td>
                Avatar:
            </td>
            <td>
                <input type="file" name = "filename" id="upload_file" accept="image/*">
                <input type="submit" value="Update">
            </td>
        </form>

        <form method="post" enctype="multipart/form-data">
            <table width="400">
                <tr>
                    <td>
                        Email:
                    </td>
                    <td>
                        <input type="email" name="email">
                    </td>
                </tr>
                <tr>
                    <td>
                        Sex:
                    </td>
                    <td>
                        <input type="radio" name="sex", value="maile">Male
                        <input type="radio" name="sex", value="female">Female
                    </td>
                </tr>
                <tr>
                    <td>
                        Birth Day:
                    </td>
                    <td>
                         <input type="date" name="dob">
                    </td>
                </tr>
                <tr>
                    <td>
                        Address:
                    </td>
                    <td>
                        <input type="text" name="address">
                    </td>
                </tr>
                <tr>
                    <td>
                        Bio:
                    </td>
                    <td>
                        <input type="text" name="bio">
                    </td>
                </tr>
                <tr>
                    <td>
                        Status:
                    </td>
                    <td>
                             <select name="status">
                             <option> Online </option>
                             <option> Chat me! :)</option>
                             <option> Leaving :( </option>
                             <option> Busy @_@ </option>
                         </select>
                    </td>
                </tr>
            </table>
            <input type="submit" value="Update">
        </form>
    </body>
</html>