<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    <meta name="description" content="">-->
<!--    <meta name="author" content="">-->
<!--    <link rel="icon" href="../static/image/bird.gif">-->
<!--    <title>Signin Template for Bootstrap</title>-->
<!--    <link href="../static/css/bootstrap.min.css" rel="stylesheet">-->
<!--    <link href="../static/css/signin.css" rel="stylesheet">-->
<!--</head>-->

<!--<body class="text-center">-->
<!--<form class="form-signin" method="post" enctype="multipart/form-data" >-->
<!--    <img class="mb-1" src="../static/image/bird.gif" alt="" width="120" height="90">-->
<!--    <img class="mb-1" src="../static/image/bird.gif" alt="" width="120" height="90">-->
<!--    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>-->
<!--    <label for="inputUsername" class="sr-only">Username</label>-->
<!--    <input  name="username" type="username" id="inputUsername" class="form-control" placeholder=Username required autofocus>-->
<!--    <label for="inputPassword" class="sr-only">Password</label>-->
<!--    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>-->
<!--    <div class="checkbox mb-3">-->
<!--    </div>-->
<!--    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>-->
<!--     <div class="checkbox mb-3">-->
<!--    </div>-->
<!--    <img class="mb-1" src="../static/image/bird.gif" alt="" width="120" height="90">-->
<!--    <img class="mb-1" src="../static/image/bird.gif" alt="" width="120" height="90">-->
<!--    <p class="mt-5 mb-3 text-muted">&copy; CSE312 Web Development Team 404</p>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/image/bird.gif">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/signin.css" rel="stylesheet">
<!--    <script>-->
<!--        function signup(){-->
<!--            location.href="signup.html";-->
<!--        }-->
<!--    </script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body class="text-center">
<form class="form-signin" method="post" enctype="multipart/form-data">
    <img class="mb-1" src="../static/image/bird.gif" alt="" width="120" height="90">
    <img class="mb-1" src="../static/image/bird.gif" alt="" width="120" height="90">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputUsername" class="sr-only"></label>
    <input name="username" type="text" id="inputUsername" class="form-control" placeholder=Username required autofocus>
    <label for="inputPassword" class="sr-only"></label>
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <button type="button" class="btn btn-lg btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#modalSignin">Sign up</button>
    <div class="checkbox mb-3">
    </div>
    <img class="mb-1" src="../static/image/bird.gif" alt="" width="120" height="90">
    <img class="mb-1" src="../static/image/bird.gif" alt="" width="120" height="90">
    <p class="mt-5 mb-3 text-muted">&copy; CSE312 Web Development Team 404</p>
</form>

<div class="modal" tabindex="-1" role="dialog" id="modalSignin" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-5 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h2 class="fw-bold mb-0">Create an account</h2>
            </div>
            <div class="modal-body p-5 pt-0">
                <form class="">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-4" id="username" placeholder="username">
                        <label for="floatingInput">Username</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control rounded-4" id="floatingInput"
                               placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control rounded-4" id="floatingPassword"
                               placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Sign up</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/bootstrap.bundle.min.js"></script>
</body>
</html>