<html>
    <head>
        <title>CSE312 Sample Front End</title>
        <link rel="shortcut icon" href="{{url_for('static',filename='img/favicon.ico')}}" type="image/x-icon"/>
    </head>
    <body>
        <p>{{username}}</p>
        <p>{{sex}}</p>
        <p>{{birth}}</p>
        <p>{{address}}</p>
        <p>{{bio}}</p>
        <a href="http://127.0.0.1:5000/profile" style="{{hidden}}">Click here to update your profile</a>
        <br>
        <a href="http://127.0.0.1:5000/chat">Back to your homepage</a>
    </body>
</html>
