.chatRoom{
            width:600px;
            height:500px;
            border:1px solid #666;
            margin:50px auto 0;
            background:#f9f9f9;
        }

.talk_input{
            width:580px;
            margin:10px auto 0;
        }

.talk_show{
            width:580px;
            height:420px;
            border:1px solid #666;
            background:#fff;
            margin:10px auto 0;
            overflow:auto;
        }

.btalk{
            margin:10px;
            text-align:right;
        }